/*
  Copyright © 2020 Vadim Konovalov. Contacts: <vadik.olympus@e1.ru>
  License: https://www.eclipse.org/legal/epl-2.0/
*/

.mat-form-field {
  margin-right: 4px;
}
label{
  cursor: pointer;
  padding: 5px;
}
